project/DSMTMALL/FUNCTION_TEST/Service References/CCC/DSMTALL_XFWEBAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXFVerifyActualPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getXFVerifyActPayment" type="tns:GetXFVerifyActPayment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetXFVerifyActPayment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OrderUnifySn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderSn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TradeNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PayMoney" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TradeStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeStamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sign" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetXFVerifyActualPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetXFVerifyActualPaymentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientReadCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getClientReadCardEntity" type="tns:GetClientReadCardEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetClientReadCardEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AdminToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CheckCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sign" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeStamp" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ClientReadCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientReadCardResult" type="tns:BackClientReadCardEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BackClientReadCardEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IsSuccess" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sign" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeStamp" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetXFVerifyActualPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:GetXFVerifyActualPayment" />
  </wsdl:message>
  <wsdl:message name="GetXFVerifyActualPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:GetXFVerifyActualPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="ClientReadCardSoapIn">
    <wsdl:part name="parameters" element="tns:ClientReadCard" />
  </wsdl:message>
  <wsdl:message name="ClientReadCardSoapOut">
    <wsdl:part name="parameters" element="tns:ClientReadCardResponse" />
  </wsdl:message>
  <wsdl:portType name="DSMTALL_XFWEBAPISoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXFVerifyActualPayment">
      <wsdl:input message="tns:GetXFVerifyActualPaymentSoapIn" />
      <wsdl:output message="tns:GetXFVerifyActualPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientReadCard">
      <wsdl:input message="tns:ClientReadCardSoapIn" />
      <wsdl:output message="tns:ClientReadCardSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DSMTALL_XFWEBAPISoap" type="tns:DSMTALL_XFWEBAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXFVerifyActualPayment">
      <soap:operation soapAction="http://tempuri.org/GetXFVerifyActualPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientReadCard">
      <soap:operation soapAction="http://tempuri.org/ClientReadCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DSMTALL_XFWEBAPISoap12" type="tns:DSMTALL_XFWEBAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXFVerifyActualPayment">
      <soap12:operation soapAction="http://tempuri.org/GetXFVerifyActualPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientReadCard">
      <soap12:operation soapAction="http://tempuri.org/ClientReadCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DSMTALL_XFWEBAPI">
    <wsdl:port name="DSMTALL_XFWEBAPISoap" binding="tns:DSMTALL_XFWEBAPISoap">
      <soap:address location="http://192.168.1.200:8090/DSMTALL_XFWEBAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="DSMTALL_XFWEBAPISoap12" binding="tns:DSMTALL_XFWEBAPISoap12">
      <soap12:address location="http://192.168.1.200:8090/DSMTALL_XFWEBAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>